<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/_head') %>
    </head>
    <body>
      <div class="ui left demo vertical inverted thin sidebar labeled icon menu">
        <a class="item" href="/assignments">
            My Assignments
          </a>
          <a class="item" href="/assignments/new">
            Create Assignment
          </a>
          <a class="item" href="/submissions/new">
            Create Submission
          </a>
          <a class="item" href="/logout">
            Logout
          </a>
      </div>
        <div class="pusher">
          <%- include('../partials/_header') %>         
              <h2 class="heading ui header">Update Submission</h2>
              <form class="cust-form ui form" action="/submissions/<%= submission.id%>?_method=PUT"  method="POST" enctype="multipart/form-data">
                  <% if (typeof error !== "undefined") { %>
                      <%= error.message %> 
                  <% } %> 
                <div class="field">
                    <label>Student Name</label>
                    <input 
                    type="text"
                    name="studentName"
                    placeholder="Your Name Here"
                    value="<%= submission.studentName %>">
                </div>
                <div class="field">
                  <label>File Upload</label>
                  <input
                  type="file"
                  name="file"
                  placeholder="File Upload"
                  value= "<%= submission.file %>"> 
                </div>
                <div class="container">
                  <button id="bottom-btn" class="ui blue submit button" type="submit">Update submission</button>
                  <a href="/submissions/<%= submission.id %>" class="ui red cancel button" >Cancel</a>
                </div>
              </form>     
    </body>
</html>