<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/_head') %>
    <body>
        <div class="ui left demo vertical inverted thin sidebar labeled icon menu">
          <%- include('../partials/_sidebar-links') %>
          </div>
        <div class="pusher">
          <%- include('../partials/_header') %>                
            <h2 class="heading ui header">Update Assignment</h2>        
            <form class="cust-form ui form" action="/assignments/<%= assignment.id %>?_method=PUT" method="POST">
                <% if (typeof error !== "undefined") { %>
                    <%= error.message %> 
                <% } %> 
                <div class="field">
                    <label>Assignment Name</label>
                    <input 
                    type="text"
                    name="name"
                    placeholder="Project 1"
                    value="<%= assignment.name %>">
                </div>
                <div class="field">
                    <label>Assignment Due Date</label>
                    <input 
                    type="date"
                    name="dueDate"
                    value="<%= assignment.dueDate %>">
                </div>
                <div class="field">
                  <label>Assignment Content</label>
                  <textarea
                  name="content"
                  placeholder="Assignment content goes here..."><%= assignment.content %></textarea>
                </div>
                <div class="container">
                  <button id="bottom-btn" class="ui blue submit button" type="submit">Update Assignment</button>
                  <a href="/assignments/<%= assignment.id %>" class="ui red cancel button" >Cancel</a>
                </div>
            </form>
    </body>
</html>